/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

/* Global styles applied to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Body styles */
body {
  font-family: 'Josefin Sans', sans-serif;
}

/* Header styles */
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  width: 200px;
}

.cabecalho-menu {
  font-weight: bold;
  display: flex;
  gap: 60px;
}

.menu-item {
  color: #000000;
  font-size: 20px;
}

/* Main content styles */
.principal-box {
  height: 500px;
  display: flex;
}

#imagem-capa {
  background-image: url("/img/pexels-jean-van-der-meulen-1457842.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
}

.principal-texto {
  background-color: rgba(9, 82, 100, 0.9);
  color: #fff;
  font-size: 37px;
  margin-top: 24%;
  width: 55%;
  padding: 30px;
  height: 130px;
  margin-left: calc(100% - 45%); /* More flexible way to position the box */
}

.conteudo-box {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* Secondary boxes styles */
.secundario-box {
  margin-top: 5%;
  text-align: center;
}

#agilidade, #conhecimento, #entrega {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-weight: bold;
  color: rgb(9, 82, 100);
  border: 1px solid;
  padding: 30px;
  border-radius: 10px;
}

p {
  word-wrap: break-word;
  margin-top: 12px;
  color: #000;
}

#entreEmContato {
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(9, 82, 100);
}

/* Footer styles */
footer {
  padding: 50px 0 20px 0;
  font-weight: bold;
  bottom: 0;
  text-align: center;
}
